@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

html, body {
    height: 100%;
    font-family: 'Fira Mono', monospace;
}
body {
    display: flex;
    align-items: stretch;
}

#root {
    width: 100%;
}